/* Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Bold.eot"), url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot"), url("../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Medium.eot"), url("../fonts/OpenSans/OpenSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Medium.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.eot"), url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Lora */
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/Lora-Bold.eot"), url("../fonts/Lora/Lora-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lora/Lora-Bold.woff2") format("woff2"), url("../fonts/Lora/Lora-Bold.woff") format("woff"), url("../fonts/Lora/Lora-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/Lora-SemiBold.eot"), url("../fonts/Lora/Lora-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lora/Lora-SemiBold.woff2") format("woff2"), url("../fonts/Lora/Lora-SemiBold.woff") format("woff"), url("../fonts/Lora/Lora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/Lora-Medium.eot"), url("../fonts/Lora/Lora-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lora/Lora-Medium.woff2") format("woff2"), url("../fonts/Lora/Lora-Medium.woff") format("woff"), url("../fonts/Lora/Lora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/Lora-Regular.eot"), url("../fonts/Lora/Lora-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lora/Lora-Regular.woff2") format("woff2"), url("../fonts/Lora/Lora-Regular.woff") format("woff"), url("../fonts/Lora/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #1C1C1C;
}

a {
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper_container {
  margin: 60px auto 80px auto;
}

.header {
  padding: 10px;
}

.search_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination_cover, .footer_items, .header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vacancies_container, .header_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.announced, .deadline, .address_cover, .email_cover, .tel_cover {
  display: flex;
  align-items: center;
  justify-content: start;
}

.hamburger {
  padding: 15px 15px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1200px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #1C1C1C;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #1C1C1C;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
 * * ========================================================================== */
/**
 * * 1. Correct the line height in all browsers.
 * * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
 * * ========================================================================== */
/**
 * * Remove the margin in all browsers. */
body {
  margin: 0;
}

/**
 * * Render the `main` element consistently in IE. */
main {
  display: block;
}

/**
 * * Correct the font size and margin on `h1` elements within `section` and
 * * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * * ========================================================================== */
/**
 * * 1. Add the correct box sizing in Firefox.
 * * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * * 1. Correct the inheritance and scaling of font size in all browsers.
 * * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * * ========================================================================== */
/**
 * * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent;
}

/**
 * * 1. Remove the bottom border in Chrome 57-
 * * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder;
}

/**
 * * 1. Correct the inheritance and scaling of font size in all browsers.
 * * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * * Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/**
 * * Prevent `sub` and `sup` elements from affecting the line height in
 * * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
 * * ========================================================================== */
/**
 * * Remove the border on images inside links in IE 10. */
img {
  border-style: none;
}

/* Forms
 * * ========================================================================== */
/**
 * * 1. Change the font styles in all browsers.
 * * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * * Show the overflow in IE.
 * * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible;
}

/**
 * * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none;
}

/**
 * * Correct the inability to style clickable types in iOS and Safari. */
button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

/**
 * * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * * 1. Correct the text wrapping in Edge and IE.
 * * 2. Correct the color inheritance from `fieldset` elements in IE.
 * * 3. Remove the padding so developers are not caught out when they zero out
 * *    `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline;
}

/**
 * * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto;
}

/**
 * * 1. Add the correct box sizing in IE 10.
 * * 2. Remove the padding in IE 10. */
[type=checkbox], [type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * * Correct the cursor style of increment and decrement buttons in Chrome. */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * * 1. Correct the odd appearance in Chrome and Safari.
 * * 2. Correct the outline style in Safari. */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * * Remove the inner padding in Chrome and Safari on macOS. */
/**
 * * 1. Correct the inability to style clickable types in iOS and Safari.
 * * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 * * ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block;
}

/* * Add the correct display in all browsers. */
summary {
  display: list-item;
}

/* Misc
 * * ========================================================================== */
/**
 * * Add the correct display in IE 10+. */
template, [hidden] {
  display: none;
}

/**
 * * Add the correct display in IE 10. */
.header {
  background: -webkit-linear-gradient(top, #124C9A, #2171DD);
  background: -moz-linear-gradient(top, #124C9A, #2171DD);
  background: -o-linear-gradient(top, #124C9A, #2171DD);
  background: linear-gradient(top, #124C9A, #2171DD);
  max-height: 130px;
}

.header_container {
  max-width: 950px;
}

.header_gerb {
  max-width: 80px;
}
@media screen and (max-width: 1200px) {
  .header_gerb {
    max-width: 60px;
  }
}
@media screen and (max-width: 768px) {
  .header_gerb {
    max-width: 30px;
  }
}

.header_flag {
  max-width: 90px;
}
@media screen and (max-width: 1200px) {
  .header_flag {
    max-width: 70px;
  }
}
@media screen and (max-width: 768px) {
  .header_flag {
    max-width: 30px;
  }
}

.header_title {
  font-family: "Lora";
  font-weight: 600;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  max-width: 43.75rem;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .header_title {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .header_title {
    font-size: 20px;
    max-width: 28.125rem;
    word-break: break-word;
  }
}
@media screen and (max-width: 480px) {
  .header_title {
    font-size: 12px;
    max-width: 15.625rem;
  }
}

.nav_container {
  position: relative;
}
@media screen and (max-width: 1200px) {
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

.nav {
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 15px rgba(4, 16, 61, 0.15));
  box-sizing: border-box;
  height: 50px;
}
@media screen and (max-width: 1200px) {
  .nav {
    height: 58px;
  }
}

.header_nav {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .header_nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    height: 0;
    min-height: 0;
    transition: 0.3s;
    overflow: hidden;
    visibility: hidden;
  }
}

.header_nav.is-active {
  padding: 3rem 0;
  height: 70vh;
  max-height: 70vh;
  visibility: visible;
}

.nav_link {
  padding: 1rem 0.3rem;
  display: inline-block;
  color: #1C1C1C;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.nav_link:hover {
  color: #2171DD;
}
.nav_link:active {
  color: #2171DD;
  font-weight: 600;
}

.banner {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/BG.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  height: 50rem;
}
@media screen and (max-width: 1200px) {
  .banner {
    height: 43.75rem;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    height: 31.25rem;
  }
}

.info_cover {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding: 200px 20px 0 20px;
  text-align: center;
  transition: 0.5s;
}
@media screen and (max-width: 992px) {
  .info_cover {
    padding-top: 150px;
    max-width: 600px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .info_cover {
    padding-top: 80px;
    padding-top: 40px;
  }
}
.banner_title {
  font-family: "Lora";
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .banner_title {
    font-size: 26px;
  }
}
@media screen and (max-width: 992px) {
  .banner_title {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .banner_title {
    font-size: 18px;
  }
}

.banner_subtitle {
  font-weight: 600;
  font-size: 22px;
  margin: 10px;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  .banner_subtitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .banner_subtitle {
    font-size: 16px;
    font-weight: normal;
  }
}

.search_form {
  margin: 55px auto 55px;
}
@media screen and (max-width: 768px) {
  .search_form {
    margin: 35px auto 35px;
  }
}

.search_input, .search_btn {
  height: 50px;
  box-shadow: 0px 4px 7px rgba(4, 16, 61, 0.35);
  border: none;
  outline: none;
}
@media screen and (max-width: 768px) {
  .search_input, .search_btn {
    height: 40px;
  }
}
@media screen and (max-width: 480px) {
  .search_input, .search_btn {
    font-size: 14px;
  }
}

.search_input {
  width: 39.5rem;
  padding: 0 10px 0 20px;
  background: #FFFFFF;
  border-radius: 5px 0 0 5px;
}
@media screen and (max-width: 992px) {
  .search_input {
    width: 25rem;
  }
}
@media screen and (max-width: 768px) {
  .search_input {
    width: 18.75rem;
  }
}
@media screen and (max-width: 480px) {
  .search_input {
    width: 12.5rem;
  }
}

.search_btn {
  background: #2171DD;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  width: 5.9375rem;
  cursor: pointer;
  transition: 0.5s;
}
.search_btn:hover {
  background: #388efe;
}
@media screen and (max-width: 480px) {
  .search_btn {
    width: 3.75rem;
  }
}

.banner-btns_cover {
  max-width: 37.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .banner-btns_cover {
    max-width: 31.25rem;
  }
}
@media screen and (max-width: 768px) {
  .banner-btns_cover {
    max-width: 21.875rem;
  }
}
@media screen and (max-width: 480px) {
  .banner-btns_cover {
    height: 6.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

.nav_btn {
  color: #ffffff;
  background: #2171DD;
  padding: 18px 40px;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06);
  transition: 0.5s;
  cursor: pointer;
}
.nav_btn:hover {
  transition: all 0.4s ease-in-out;
  background: #388efe;
}
@media screen and (max-width: 992px) {
  .nav_btn {
    padding: 14px 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav_btn {
    min-width: 100px;
  }
}

.fa-arrow-right-long {
  color: #ffffff;
  width: 18px;
}

.footer {
  background: -webkit-linear-gradient(top, #124C9A, #2171DD);
  background: -moz-linear-gradient(top, #124C9A, #2171DD);
  background: -o-linear-gradient(top, #124C9A, #2171DD);
  background: linear-gradient(top, #124C9A, #2171DD);
  max-height: 18.75rem;
  margin-top: 0px;
  padding-top: 15px;
}
@media screen and (max-width: 1200px) {
  .footer {
    max-height: 21.875rem;
  }
}

.footer_container {
  color: #ffffff;
  padding: 0px 10px 0px 10px;
}

.footer_title {
  font-family: "Lora", serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 28.75rem;
  margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
  .footer_title {
    font-size: 16px;
  }
}

.footer_items {
  padding: 0px 10px 0px 10px;
}
@media screen and (max-width: 768px) {
  .footer_items {
    font-size: 14px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: left;
  }
}

.address_cover, .email_cover, .tel_cover {
  margin-bottom: 1.25rem;
}

.address, .email, .tel {
  color: #ffffff;
  margin-left: 7px;
}

.loction_icon, .email_icon, .tel_icon {
  width: 18px;
}

.footer_list {
  color: #ffffff;
  font-weight: regular;
  margin: 0;
}

.list_title {
  font-weight: 600;
  margin-bottom: 24px;
}

.list_item {
  margin-top: 15px;
}

.copyrights {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  height: 1.5625rem;
  background: #134D9B;
  margin-top: 15px;
  padding-top: 10px;
}
@media screen and (max-width: 480px) {
  .copyrights {
    height: 1.875rem;
    font-size: 12px;
  }
}

.copy_text {
  margin: auto;
  font-weight: lighter;
}

.vacancies_title {
  font-family: "Lora", serif;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .vacancies_title {
    font-size: 26px;
  }
}

.vacancies_container {
  box-sizing: border-box;
  max-width: 78.125rem;
  margin: 40px auto 60px auto;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .vacancies_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.vacancy_card {
  background: #FFFFFF;
  border: 1px solid #E0EDF5;
  border-radius: 3px;
  padding: 25px 28px;
  max-width: 31.875rem;
  margin: 10px 15px;
}
.vacancy_card h2 {
  font-size: 20px;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 1200px) {
  .vacancy_card {
    max-width: 20.625rem;
  }
}

.vacancy_heading {
  cursor: pointer;
  transition: 0.5s;
}
.vacancy_heading:hover {
  color: #2171DD;
  text-decoration: underline;
}

.announced-date, .deadline-date {
  margin: 0;
  font-weight: 400;
  line-height: 24px;
}

.vacancy_text {
  text-align: left;
  line-height: 24px;
}

.pagination_cover {
  text-align: center;
  max-width: 25rem;
  margin: auto;
}
.pagination_cover a {
  cursor: pointer;
}
.pagination_cover a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  .pagination_cover {
    font-size: 13px;
    max-width: 18.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
