section.banner 
  .container.banner_container 
    .info_cover 
      h1.banner_title Суу-Башы Айыл  өкмөтүнүн жана Айыл Кеңешинин Расмий Сайтына Кош келиңиз!
      p.banner_subtitle Дарегибиз: Баткен облусу, Баткен району, Боз-Адыр айылы.
      p.banner_subtitle Байланыш номерибиз: 0778181008.
      form.search_form(action="" method="get") 
        input.search_input(type="text" placeholder="Cөздү жасыңыз...")
        input.search_btn(type="submit" value="Табуу")
      .banner-btns_cover 
        a.nav_btn(href="aiylcouncil.html") Айылдык кеңеш
        i.fa-solid.fa-arrow-right-long
        a.nav_btn(href="#") Мэрия
          i.fa-solid.fa-arrow-right-long