section.footer 
  .container.footer_container 
    h3.footer_title Суу-Башы Айыл Өкмөтүнүн жана Айыл Кеңешинин Расмий Сайты
  .container.footer_items
    .footer_item
      .address_cover 
        img.loction_icon(src="img/location.svg", alt="Location")
        a.address(href="https://goo.gl/maps/cRniN2Vsut23ECbh8") Баткен облусу, Баткен району, Боз-Адыр айылы.
      .email_cover 
        img.email_icon(src="img/email.svg", alt="Email")
        a.email(href="mailto:example@mail.com") example@mail.com
      .tel_cover 
        img.tel_icon(src="img/phone.svg", alt="Phone")
        a.tel(href="tel:+996778181008") +996 778 18-10-08
    .footer_item
      ul.footer_list 
        li.list_title Жумуш убактысы
        li.list_item Дүйшөмбү-Жума &nbsp; 08:30-17:30
        li.list_item Танапис &nbsp; 12:30-13:30
        li.list_item Ишемби-Жекшемби &nbsp; Дем алыш
  .copyrights 
    p.copy_text © 2022 Суу-Башы Айыл Өкмөтү жана Айылдык Кенеши

