section.header
  .container.header_container 
    img.header_gerb(src="img/Gerb.png", alt="Gerb")
    h1.header_title Суу-Башы Айыл Өкмөтүнүн жана Айыл Кеңешинин Расмий Сайты
    img.header_flag(src="img/Flag.png", alt="Flag")