nav.nav 
  .container.nav_container 
    section.header_nav 
      a.nav_link(href="index.html") Башкы бет
      a.nav_link(href="aiylcouncil.html") Айылдык кеңеш
      a.nav_link(href="aiylokmot.html") Айыл өкмөтү
      a.nav_link(href="about.html") Айыл аймагы жөнүндө 
      a.nav_link(href="vacancies.html") Вакансиялар
      a.nav_link(href="opportunities.html") Сынактар/Мүмкүнчүлүктөр 
      a.nav_link(href="discussion.html") Актуалдуу маселелерди талкуулоо
      a.nav_link(href="gallery.html") Галерея
    .header__menu
        button.hamburger.hamburger--vortex(type='button')
          span.hamburger-box
            span.hamburger-inner